@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 40% 98.0392%;
    --foreground: 215.9155 98.6111% 28.2353%;
    --card: 0 0% 100%;
    --card-foreground: 215.9155 98.6111% 28.2353%;
    --popover: 0 0% 100%;
    --popover-foreground: 215.9155 98.6111% 28.2353%;
    --primary: 206.6327 100% 38.4314%;
    --primary-foreground: 0 0% 100%;
    --secondary: 200.905 94.0426% 46.0784%;
    --secondary-foreground: 0 0% 100%;
    --muted: 210 40% 96.0784%;
    --muted-foreground: 209.434 98.7578% 31.5686%;
    --accent: 195.5556 87.0968% 93.9216%;
    --accent-foreground: 206.6327 100% 38.4314%;
    --destructive: 0 84.2365% 60.1961%;
    --destructive-foreground: 0 0% 100%;
    --border: 214.2857 31.8182% 91.3725%;
    --input: 214.2857 31.8182% 91.3725%;
    --ring: 200.905 94.0426% 46.0784%;
    --chart-1: 206.6327 100% 38.4314%;
    --chart-2: 200.905 94.0426% 46.0784%;
    --chart-3: 191.4451 81.9905% 58.6275%;
    --chart-4: 209.434 98.7578% 31.5686%;
    --chart-5: 215.9155 98.6111% 28.2353%;
    --sidebar: 0 0% 100%;
    --sidebar-foreground: 215.9155 98.6111% 28.2353%;
    --sidebar-primary: 206.6327 100% 38.4314%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 195.5556 87.0968% 93.9216%;
    --sidebar-accent-foreground: 206.6327 100% 38.4314%;
    --sidebar-border: 214.2857 31.8182% 91.3725%;
    --sidebar-ring: 200.905 94.0426% 46.0784%;
    --font-sans: Inter;
    --font-serif: serif;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.1),
      0px 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.1),
      0px 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.1),
      0px 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.1),
      0px 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.1),
      0px 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: normal;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 195.5556 87.0968% 93.9216%;
    --card: 0 0% 6.6667%;
    --card-foreground: 195.5556 87.0968% 93.9216%;
    --popover: 0 0% 0%;
    --popover-foreground: 195.5556 87.0968% 93.9216%;
    --primary: 200.905 94.0426% 46.0784%;
    --primary-foreground: 0 0% 100%;
    --secondary: 209.434 98.7578% 31.5686%;
    --secondary-foreground: 195.5556 87.0968% 93.9216%;
    --muted: 0 0% 10.9804%;
    --muted-foreground: 240 5.0279% 64.902%;
    --accent: 215.9155 98.6111% 28.2353%;
    --accent-foreground: 195.5556 87.0968% 93.9216%;
    --destructive: 0 62.8205% 30.5882%;
    --destructive-foreground: 195.5556 87.0968% 93.9216%;
    --border: 240 3.7037% 15.8824%;
    --input: 240 3.7037% 15.8824%;
    --ring: 200.905 94.0426% 46.0784%;
    --chart-1: 200.905 94.0426% 46.0784%;
    --chart-2: 191.4451 81.9905% 58.6275%;
    --chart-3: 206.6327 100% 38.4314%;
    --chart-4: 209.434 98.7578% 31.5686%;
    --chart-5: 215.9155 98.6111% 28.2353%;
    --sidebar: 0 0% 0%;
    --sidebar-foreground: 195.5556 87.0968% 93.9216%;
    --sidebar-primary: 200.905 94.0426% 46.0784%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 215.9155 98.6111% 28.2353%;
    --sidebar-accent-foreground: 195.5556 87.0968% 93.9216%;
    --sidebar-border: 240 3.7037% 15.8824%;
    --sidebar-ring: 200.905 94.0426% 46.0784%;
    --font-sans: Inter;
    --font-serif: serif;
    --font-mono: monospace;
    --radius: 0.5rem;
    --shadow-2xs: 0px 5px 15px 0px hsl(0 0% 0% / 0.13);
    --shadow-xs: 0px 5px 15px 0px hsl(0 0% 0% / 0.13);
    --shadow-sm: 0px 5px 15px 0px hsl(0 0% 0% / 0.25),
      0px 1px 2px -1px hsl(0 0% 0% / 0.25);
    --shadow: 0px 5px 15px 0px hsl(0 0% 0% / 0.25),
      0px 1px 2px -1px hsl(0 0% 0% / 0.25);
    --shadow-md: 0px 5px 15px 0px hsl(0 0% 0% / 0.25),
      0px 2px 4px -1px hsl(0 0% 0% / 0.25);
    --shadow-lg: 0px 5px 15px 0px hsl(0 0% 0% / 0.25),
      0px 4px 6px -1px hsl(0 0% 0% / 0.25);
    --shadow-xl: 0px 5px 15px 0px hsl(0 0% 0% / 0.25),
      0px 8px 10px -1px hsl(0 0% 0% / 0.25);
    --shadow-2xl: 0px 5px 15px 0px hsl(0 0% 0% / 0.63);
  }

  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  @font-face {
    font-family: "CalSans Semibold";
    src: url("/fonts/calsans-semibold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  * {
    @apply border-border;
  }

  /* If you want a custom scrollbar - By @diomed */
  /* * {
    @apply border-border;
    --sb-track-color: #ffffff;
    --sb-thumb-color: #e2e3f1;
    --sb-size: 10px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }

  ::-webkit-scrollbar {
    width: var(--sb-size)
  }

  ::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 10px;
  } */

  html {
    /* scroll-padding-top: 4rem; */
    @apply scroll-pt-16 lg:scroll-pt-0;
  }

  body {
    @apply bg-background text-foreground font-sans;
    font-feature-settings: "rlig" 1, "calt" 1;
    letter-spacing: var(--tracking-normal);
  }

  .callout > * {
    @apply my-0 !important;
  }

  .font-icon-callout {
    font-family: Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  }

  /* MdxComponent: For <code></code> with no parent <pre></pre> */
  :not(pre) > code {
    @apply relative rounded border px-[0.3rem] py-[0.2rem] font-mono text-sm bg-background text-foreground;
  }
}

.text-gradient_indigo-purple {
  background: linear-gradient(90deg, #006dc4 0%, #3fcbec 100%);
  /* background: linear-gradient(83.21deg,#0152A0 0%,#0797E4 100%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

/* Vercel card style */
.card_border {
  box-shadow: var(--ds-shadow-border), 0 4px 6px rgba(0, 0, 0, 0.04);
  transition: box-shadow 0.15s ease;
}

.card_border:hover {
  box-shadow: var(--ds-shadow-border), 0 6px 14px rgba(0, 0, 0, 0.08);
}

.dark .card_border:hover {
  box-shadow: 0 0 0 1px white;
}

/* Custom scrollbar  */
[data-radix-scroll-area-viewport] {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

[data-radix-scroll-area-viewport]::-webkit-scrollbar {
  display: none;
}
